<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Sistema de Combustível</title>
  <link rel="stylesheet" href="../../../static/gestao_posto/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">

    <aside class="sidebar">

      <h2 class="logo">Gestão</h2>

      <nav class="menu">

        <a href="venda.html">
          <button>Vender</button>
        </a>
      
        <a href="reabastecimento.html">
            <button>Reabastecer</button>
        </a>
            
        <a href="relatorio.html">
          <button>Relatório</button>
        </a>
    
      </nav>

    </aside>

    <main class="main-content">

      <h1 class="title" style="text-align: center;" >Gerenciamento de Combustível</h1>

      <div class="grid">

        <div class="pump-card">
          <h3>Bomba A</h3>

          <div class="levels">

            <div class="fuel">

              <span>Etanol</span>

              <div class="bar-container">

                <div class="bar normal" style="width: 80%;"></div>

              </div>

              <span class="percentage">80%</span>

            </div>

            <div class="fuel">

              <span>Gasolina</span>

              <div class="bar-container">

                <div class="bar critical" style="width: 10%;"></div>

              </div>

              <span class="percentage">10%</span>

            </div>

          </div>
          

        </div>

        <div class="pump-card">

          <h3>Bomba B</h3>

          <div class="levels">

            <div class="fuel">

              <span>Diesel</span>

              <div class="bar-container">

                <div class="bar" style="width: 98%;"></div>
                
              </div>

              <span class="percentage">98%</span>

            </div>

            <div class="fuel">

              <span>Gasolina Aditivada</span>

              <div class="bar-container">

                <div class="bar warning" style="width: 25%;"></div>

              </div>

              <span class="percentage">25%</span>

            </div>

          </div>

        </div>

        <div class="pump-card">

          <h3>Bomba C</h3>

          <div class="levels">

            <div class="fuel">

              <span>Etanol</span>

              <div class="bar-container">

                <div class="bar" style="width: 100%;"></div>
                
              </div>

              <span class="percentage">100%</span>

            </div>

            <div class="fuel">

              <span>Gasolina</span>

              <div class="bar-container">

                <div class="bar" style="width: 40%;"></div>

              </div>

              <span class="percentage">40%</span>

            </div>

          </div>

        </div>

        <div class="pump-card">
          <h3>Bomba D</h3>

          <div class="levels">

            <div class="fuel">

              <span>Diesel</span>

              <div class="bar-container">

                <div class="bar" style="width: 90%;"></div>
                
              </div>

              <span class="percentage">90%</span>

            </div>

            <div class="fuel">

              <span>Gasolina Aditivada</span>

              <div class="bar-container">

                <div class="bar" style="width: 100%;"></div>

              </div>

              <span class="percentage">100%</span>

            </div>

          </div>

        </div>

      </div>

    </main>

  </div>
</body>
</html>
