<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reabastecimento</title>
  <link rel="stylesheet" href="../../../static/gestao_posto/styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    
    <!-- Sidebar fixo -->
    <aside class="sidebar">

      <h2 class="logo">Gestão</h2>

      <nav class="menu">

        <a href="venda.html">
          <button>Vender</button>
        </a>
        
        <a href="reabastecimento.html">
          <button>Reabastecer</button>
        </a>
        
        <a href="relatorio.html">
          <button>Relatório</button>
        </a>
        
      </nav>

    </aside>

     <!-- Formulário de reabastecimento -->
    <div class="main-content">

      <form class="refill-form">

        <h1 class="title">Solicitação de Reabastecimento</h1>
      
        <div class="form-group">
      
          <label for="bomba">Selecionar Tanque:</label>
      
          <select id="bomba" name="bomba" required>
            <option value="">-- Escolha um Tanque --</option>
            <option value="A">Tanque A</option>
            <option value="B">Tanque B</option>
            <option value="C">Tanque C</option>
            <option value="D">Tanque D</option>
          </select>
      
        </div>

        <div class="form-group">
          <label for="quantidade">Quantidade (litros):</label>
          <input type="number" id="quantidade" name="quantidade" min="1" required />
        </div>

        <button type="submit" class="refill-btn">Confirmar Reabastecimento</button>
      
      </form>

      <!-- botão de voltar -->
      <div class="back-button">
        <a href="index.html">
          &#8592; Voltar para a Tela Principal
        </a>
      </div>

    </div>
    
  </div>
</body>
</html>
