{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Relatório</title>
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/css/relatorio.css' %}">
</head>
<body>
  <div class="container">

    <aside class="sidebar">

      <h2 class="logo">Gestão</h2>

      <nav class="menu">
        <a href="{% url 'venda' %}">
          <button>Vender</button>
        </a>

        <a href="{% url 'reabastecer' %}">
          <button>Reabastecer</button>
        </a>

        <a href="{% url 'relatorio' %}">
          <button>Relatório</button>
        </a>

        <a href="{% url 'index' %}">
          <button>Início</button>
        </a>
        
      </nav>

    </aside>

    <div class="main-content">
 
      <!-- botão de voltar 
      <div class="back-button">
        <a href="{% url 'index' %}">
          &#8592; Voltar para a Tela Principal
        </a>
      </div>
      -->
      
      <h1>Relatório de Vendas</h1>

      {% if vendas %}
        <table class="tabela-vendas">
          <thead>
            <tr>
              <th>Data</th>
              <th>Bomba</th>
              <th>Combustível</th>
              <th>Quantidade (L)</th>
              <th>Pagamento</th>
              <th>Valor (R$)</th>
            </tr>
          </thead>
          <tbody>
            {% for venda in vendas %}
              <tr>
                <td>{{ venda.data|date:"d/m/Y H:i" }}</td>
                <td>{{ venda.bomba }}</td>
                <td>{{ venda.combustivel.get_id_combustivel_display }}</td>
                <td>{{ venda.quantidade }}</td>
                <td>{{ venda.get_pagamento_display }}</td>
                <td>R$ {{ venda.valor }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="receita-total">
          <span>Receita Total:</span>
          <strong>R$ {{ receita_total }}</strong>
        </div>

      {% else %}
        <p>Nenhuma venda registrada até o momento.</p>
      {% endif %}

    </div>

  </div>
</body>
</html>
